@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');
*{
  padding: 0px;
  margin: 0px;
  font-family: Arial;
}
body a{
	text-decoration: none;
}


/* ------------- NAVNAR ------------- */
.navbar-brand span{
  font-family: 'Merriweather', serif;
  font-size: 25px;
  font-weight: bold;
  position: absolute;
  top : 20px;
  margin-left: 10px;
  opacity: 1;
}
.navbar{
padding-bottom: 20px;
}
.nav-item{
  padding-right: 40px;
}

/* ------------- NAVNAR ENDS ------------- */

/* ------------- BODY START ------------- */

.about-container{
  text-align: center;
  margin-top: 150px;
  margin-bottom: 50px;
}
.brand-container p{
  border-bottom: 3px solid black;
  margin-bottom: 70px;
  font-size: 40px;
  font-weight: bold;

}



/* *** container **** */

form{
  position: relative;
  top: 200px;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-bottom:40px;
}
form{
  background: white;
  width: 350px!important;
  padding: 20px;
  padding-left: 30px!important;
  padding-right : 30px!important;
  border-radius: 5px;
  box-shadow: 0 0 8px rgba(0,0,0,0.4);
}
.form-container .text{
  font-size: 35px;  
  margin-bottom: 20px;
}
/*
.form-container .text:hover{
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
*/

/* *** form inputs style **** */
form .data input{
  padding-left: 10px;
  width: 100%;
  border: 1px solid dimgrey;
  border-radius: 5px;
}
form .ph input{
  padding-left: 10px;
  border: 1px solid dimgrey;
  border-radius: 5px;
}
form input[name="country code"]{
  margin-right: 10px;
  padding-left: 10px;
}
form input[name="phone"]{
  width: 73%;
}
form .data textarea{
  border: 1px solid black;
  }
form .data label{

  vertical-align: top;
  margin-right: 10px;
}


/* *** form inputs focus **** */

form .data input:focus{
  box-shadow:0px 0px 10px lightpink;
  border: 0.5px solid grey;
  color: grey;
}
form .ph input:focus{
  box-shadow:0px 0px 10px lightpink;
  border: 0.5px solid grey;
  color: grey;
}


/* *** form inputs hover **** */
form .ph input:hover{
  box-shadow:0px 0px 10px lightpink;
  border: 0.5px solid grey;
  color: grey;
}
form .gen input:hover{
box-shadow:0px 0px 10px lightpink;
border: 0.5px solid grey;
color: grey;
}
form .data input:hover{
  box-shadow:0px 0px 10px lightpink;
  border: 0.5px solid grey;
  color: grey;
}

/* *** form submit button style **** */
form input[type="submit"]{
  width: 100%;
  height: 40px;
  color: #fff;
  background: darkblue;
  border: none;
  font-size: 18px;
  font-weight: 500;
  padding: 0;
  border-radius: 15px;
  /*text-transform: uppercase;*/
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.4s;

}
form input[type="submit"]:hover{
  box-shadow:0px 0px 20px lightgrey;
  left:0;
  font-weight: bold;
}



/* ------------- BODY ENDS ------------- */

/* ------------- FOOTER ------------- */
.pt-5{

  padding-top: 35px;
  padding-bottom: 30px;
  border-top: 0;
}

#links, #address{
  line-height: 2;
}

#quotes{
  font-style: italic;
}

.footer-link a{
  text-decoration: none;
  color: white;
  padding-bottom: 10px;

}
#about a{
  color: white;
}

footer span{
  font-size: 25px;
  font-weight: bold;
}
footer p{
  font-size: 15px;
  color : lightgrey;

}
#about a:hover{
color: lightgoldenrodyellow;
}
.footer-link p:hover{
  color: lightgoldenrodyellow;
}



.list-unstyled{
  margin-top: 30px;
}

.list-unstyled #link1 {
    position: absolute;
    left: 40%;
}

.list-unstyled #bullet1 {
    position: absolute;
    left: 45%;
}


.list-unstyled #link2 {
    position: absolute;
    left: 50%;
}
.list-unstyled #bullet2 {
    position: absolute;
    left: 55%;
}
.list-unstyled #link3 {
    position: absolute;
    left: 60%;
}


#footer-brand p{
  text-align: center;
  margin-bottom: 0px!important;
}

#footer-brand{
  
  margin-bottom: 0px!important;
  padding-bottom:  0px!important;
}

.border-bottom{
  border-bottom: 3px solid #000000!important;
}
/* ------------- FOOTER ENDS ------------- */