a{
    text-decoration: none !important;
}

.navbar{
    box-sizing: border-box;
    background:rgba(50,9,51,1);  
}
.navbar-brand img{
    vertical-align: middle;
}
.navbar-nav {
    margin-left: 20%;
    margin-right: 20%;
}
.nav-item{
    margin-left: 10px;
    margin-right: 10px;
}

.nav-link{
    color: white !important;
    opacity: 100% !important;
    position: relative;
}

/*
.nav-item :hover{
    color: orange !important;
}
*/

.navbar-dark .navbar-toggler {
    color: #ffffff;
    border-color: transparent;
    }
.bi-list{
    width: 40px !important;
    height: 40px !important;
}
/* navbar under-line animation */  

.nav-link:before{
    content: "";
    position: absolute;
    bottom: -1px;
    height: 1px;
    width: 0;
    background: orange;
    border-radius: 50px;
    transition: width 0.3s ease;   
}

.nav-link:hover:before{
    width: 100%;
}

/* contact us */

#contact{
    position: relative;
    padding-bottom: 3rem;
    padding-top: 5.65rem;
   
}
.card-body{
    padding: 3rem 3rem !important;
  
}


#contact_box {
    border-radius: 1.5rem !important;
}

#contact_box_2{
    border-radius: 1.5rem !important;
    background-color: #F1F1F1 !important;
}

#contact_box_2 .btn:hover{
background-color: #0A2640 !important;
}
/* footer */

.pt-0{
    left: 0;
    bottom: 0;
    width: 100%;
}
.prevent-select {
    user-select: none; /* Standard syntax */    
}

.btn{
    border-radius: 5rem !important;
    padding-left: 2rem !important;
    padding-right: 2rem !important;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    font-weight: 700 !important;
}

h5{
    font-weight: 400 !important;
}

.bg-dark{
    background-color: #0A2640 !important;
    background-image: url(banner2.webp);
}